.login-form {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
}

.custom-button {
    width: 100px !important;
    background-color: black !important;
    color: white !important;
    border: none;
}

.custom-button:hover {
    background-color: #333 !important;
}

.navbar-nav .nav-link {
    position: relative;
    text-decoration: none;
}

.navbar-nav .nav-item.dropdown .dropdown-menu a.dropdown-item {
    text-decoration: none;
    /* Remove underlines from dropdown items */
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    /* Adjust the thickness of the underline */
    left: 0;
    width: 0;
    height: 2px;
    /* Set the height/thickness of the underline */
    background-color: #000;
    transition: width 0.3s;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
    /* Show the underline on hover */
}

.fresh-party-text {
    font-family: 'Dancing Script', cursive !important;
    font-size: xx-large;
}

.fresh-party-font {
    font-family: 'Dancing Script', cursive !important;
    font-size: 50px;
}

.container {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    transform-style: preserve-3d;
    align-items: center;
    flex-direction: column;
}

/*Footer*/

.footer {
    margin-top: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1280px;
    /*adjust this*/
    width: 120%;
    background: white;
    border-radius: 6px;
}

.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
}

.footer-row .footer-col h4 {
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-col .links {
    margin-top: 20px;
}

.footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-col .links li a {
    text-decoration: none;
    color: grey;
}

.footer-col .links li a:hover {
    color: black;
}

.footer-col p {
    margin: 20px 0;
    color: grey;
    max-width: 300px;
}

.footer-col form {
    display: flex;
    gap: 5px;
}

.footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6;
    caret-color: black;
    color: black;
    padding-left: 10px;
}

.footer-col input::placeholder {
    color: #ccc;
}

.footer-col form button {
    background: black;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.footer-col form button:hover {
    background: #cecccc;
}

.footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
}

.footer-col .icons i {
    color: black;
}

.footer-col .icons i:hover {
    color: white;
}

@media (max-width: 768px) {
    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }

    .footer .footer-row {
        padding: 20px;
        gap: 1rem;
    }

    .footer-col form {
        display: block;
    }

    .footer-col form :where(input, button) {
        width: 100%;
    }

    .footer-col form button {
        margin: 10px 0 0 0;
    }
}

.followus {
    font-family: 'Dancing Script', cursive !important;
    font-size: 30px;
}